@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
	--main-bg-color: #F3F6FB;
	--main-font-color: #0C0C20;
	--main-accent-color: #1878F1;
	--secondary-accent-color: #1878F1;
	--secondary-bg-color: #26374D;
	--secondary-btn-color:#202B40;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
	font-family: 'Montserrat', sans-serif;
}
html{
	font-size: 16px;
}
h1{
	font-size: 4rem;
	font-family: 'Merriweather', serif;
}
span{
	font-family: 'Merriweather', serif;
}
h2{
	font-size: 2.25rem;
}
h3{
	font-size: 1.5rem;
}
p{
	font-size: 1rem;
}

.nav{
	background: white;
	width: 100%;
	position: fixed;
  z-index: 10;
}
.nav__content{
	display: flex;
	justify-content: space-between;
	padding: 40px 195px ;
	align-items: center;
}
.nav__items ul{
	display: flex;
	list-style: none;
}
.nav__item{
	margin: 0 25px;
}
.nav__item a{
	text-decoration: none;
	color: var(--main-font-color);

}
.nav__signup-btn{
	background: var(--main-accent-color);
	outline: none;
	border: none;
	padding: 10px;
	color: white;
	margin-right: 30px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
}
.nav__signin-btn{
	outline: none;
	padding: 10px;
	text-decoration: none;
	color: black;
	border:1px solid var(--main-accent-color);
	border-radius: 5px;

}

.header{
	width: 100%;
	height: 100vh;
	padding: 0 195px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.header__title{
	text-align: center;
	margin-bottom: 60px;
	color: var(--main-font-color);
}
.header__title-span{
	background: linear-gradient(90deg, #0C0C20 0%, #1879F1 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}
.header__subtitle{
	font-weight: 400;
	text-align: center;
	margin-bottom: 60px;
}
.header__buttons{
	display: flex;

}
.header__buy-btn{
	margin-right: 20px;
	background: var(--main-accent-color);
	outline: none;
	border: none;
	padding: 15px;
	color: white;
	margin-right: 30px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
}
.header__start-btn{
	border: 1px solid var(--main-accent-color);
	outline: none;
	border-radius: 5px;
	padding: 15px;
	text-decoration: none;
	color: black;
}


.about{
	padding: 0 195px;
	width: 100%;
	margin-bottom: 300px;
}

.forwhat{
	width: 100%;
	padding: 0 195px;
	margin-bottom: 300px;
	position: relative;
}
.forwhat h1{
	margin-bottom: 230px;
}
.forwhat__cards{
	width: 100%;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: center;
}
.forwhat__advantages{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 300px;
}
.forwhat__advantages-text{
	margin-left: 25px;
}
.forwhat__advantages-text h3{
	margin-bottom: 40px;
	font-weight: 500;
}
.forwhat__advantages-text p{
	line-height: 1.5rem;
}
.forwhat__advantages-left, .forwhat__advantages-right{
	width: 670px;
	margin:0 35px;
	display: flex;
}
.forwhat__card{
  position: relative;
	background: white;
	width: 470px;
	padding: 48px 40px;
	box-shadow: 0 4px 14px var(--main-accent-color);
	border-radius: 10px;
	border:1px solid var(--main-accent-color);
	box-shadow: inset 0 0 12px var(--main-accent-color);
	margin:25px 25px;
	transition: 0.4s all;
}
.forwhat__card img:first-child{
  position: relative;
  z-index: 3;
}

.main-card-background{

}

.forwhat__card h3,
.forwhat__card p{
  position: relative;
  z-index: 2;
}

.forwhat__card1:hover .main-card-background,
.forwhat__card2:hover .main-card-background,
.forwhat__card3:hover .main-card-background,
.forwhat__card4:hover .main-card-background,
.forwhat__card5:hover .main-card-background,
.forwhat__card6:hover .main-card-background{
  opacity: 1;
}
.forwhat__card1:hover,
.forwhat__card2:hover,
.forwhat__card3:hover,
.forwhat__card4:hover,
.forwhat__card5:hover,
.forwhat__card6:hover{
  color: #fff;
}

.main-card-background{
    display: block;
    position: absolute;
    border-radius: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
	background: url(../images/icons/img/forwhat-security.png);
	color: white;
  background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    transition: 0.4s ease;
}
.footer{
	background: var(--secondary-bg-color);
	width: 100%;

	border-radius: 100px 100px 0 0;
	padding: 62px 202px;
}
.footer__content{
	display: flex;
	flex-direction: column;
}
.footer__content-up{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.footer__support{
	width: 300px;
	color: white;
}
.footer__support h3	{
	color: #5CFFF3;
	margin-bottom: 30px;
}
.footer__support p{
	margin-bottom: 30px;
}
.footer__support a{
	color: white;
}
.footer__logocontacts{
	display: flex;
	align-items: flex-start;
}
.footer__logocontacts img{
	margin-right: 100px;
}
.footer__contacts h3{
	color: #5CFFF3;
	margin-bottom: 37px;
}
.footer__contacts-sm{
	margin-bottom: 37px;
}
.footer__contacts-sm img{
	margin-right: 30px;
}
.footer__contacts p{
	color: white;

}


.faq{
	width: 100%;
	padding: 0 195px;
	display: flex;
    flex-direction: column;
    align-items: center;
	position: relative;
	margin-bottom: 300px;
}
.faq__title{
	margin-bottom: 300px;
}
.faq__toggle{
	position: absolute;
	right: 800px;
	width: 50px;
	height: 50px;
	z-index: 100;
	opacity: 0;
}
.faq__arrow_down{
	position: absolute;
	transform: translateX(-20px);
	opacity: 0;
}
.faq__toggle1:checked ~ p{
	display: block;
}
.faq__toggle1:checked ~ .faq__visible-part .faq__arrow_down{
	opacity: 1;
}
.faq__toggle1:checked ~ .faq__visible-part .faq__arrow_up{
	opacity:0;
}

.faq__toggle2:checked ~ p{
	display: block;
}
.faq__toggle2:checked ~ .faq__visible-part .faq__arrow_down{
	opacity: 1;
}
.faq__toggle2:checked ~ .faq__visible-part .faq__arrow_up{
	opacity:0;
}

.faq__toggle3:checked ~ p{
	display: block;
}
.faq__toggle3:checked ~ .faq__visible-part .faq__arrow_down{
	opacity: 1;
}
.faq__toggle3:checked ~ .faq__visible-part .faq__arrow_up{
	opacity:0;
}

.faq__toggle4:checked ~ p{
	display: block;
}
.faq__toggle4:checked ~ .faq__visible-part .faq__arrow_down{
	opacity: 1;
}
.faq__toggle4:checked ~ .faq__visible-part .faq__arrow_up{
	opacity:0;
}

.faq__toggle5:checked ~ p{
	display: block;
}
.faq__toggle5:checked ~ .faq__visible-part .faq__arrow_down{
	opacity: 1;
}
.faq__toggle5:checked ~ .faq__visible-part .faq__arrow_up{
	opacity:0;
}

.faq__toggle6:checked ~ p{
	display: block;
}
.faq__toggle6:checked ~ .faq__visible-part .faq__arrow_down{
	opacity: 1;
}
.faq__toggle6:checked ~ .faq__visible-part .faq__arrow_up{
	opacity:0;
}



.faq__card{
	padding: 26px;
	width: 915px;
	border-radius: 5px;
	border:1px solid var(--main-accent-color);
	margin-bottom: 23px;
}
.faq__visible-part{
	display: flex;
	justify-content: space-between;
}
.faq__visible-part h3{
	font-weight: 600;
	font-size: 16px;
}
.faq__card p{
	font-weight: 500;
	display: none;
}
.footer__content-down{

}
.footer__year{
	display: flex;
	justify-content: space-between;
	color: white;
	margin-bottom: 35px;
}
.footer__content-down hr{
	width: 100%;
	background: white;
	margin-bottom: 35px;
}
.footer__items{
	list-style: none;
	display: flex;
	color: white;
}
.footer__items li{
	margin-right: 55px;

}