
.container{
padding: 40px 195px 40px 195px;
}
.container__inner{
  margin-left: 352px;
}

.nav__logo {
  position: relative;
 padding-bottom: 150px;
}

.about__form{
  
  display: flex;
  max-width: 450px;
  padding: 32px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  border-radius: 10px;
background: #26374D;
}

.about__container{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 39px;
align-self: stretch;
}

.about__title{
font-family: 'Merriweather', serif;
  color: #FFF;
text-align: center;
font-size: 24px;

}

.about__forms{
  display: block;
  padding: 16px;
  width: 370px;
  height: 43px;
  border-radius: 5px;
border: 1px solid #DDE0E8;
background: #FFF;
font-family: 'Montserrat', sans-serif;
align-self: stretch;
}
.about__forms::placeholder{
font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  align-self: stretch;
  color: #DDE0E8;
}
.about__forms-1{
  position: relative;
  display: block;
padding: 16px;
  width: 370px;
 height: 44px;
  border-radius: 5px;
border: 1px solid #DDE0E8;
background: #FFF;
font-family: 'Montserrat', sans-serif;
margin-top: 16px;
}

.password{
  position: relative;

}
.password-control{
 position: absolute;
 bottom: 10px;
 right: 20px; 
}


.about__forms-1::placeholder{
    font-family: 'Montserrat', sans-serif;
    align-self: stretch;
    color: #DDE0E8;
    font-size: 16px;
}

.about__title-1{
  align-self: stretch;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.about__title-2{
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-decoration-line: underline;
}
.about__title-3{
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-decoration-line: underline;
}

.about__button{
  display: flex;
padding: 14px 112px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 5px;
background: #1878F1;
transition: all .3s;
text-decoration-line: none;
}

.about__button:hover{
transform: scale(1.1);
}

.about__button-1{
  color: #FFF;
font-family: 'Montserrat', sans-serif;
text-decoration-line: none;
}

.about__tit{
  font-family: 'Montserrat', sans-serif;
  align-self: stretch;
  color: #FFF;
 text-align: center;
  line-height: 24px;
  padding-bottom: 28px;
}

.about__list{
  display: flex;
 padding: 0px  50px;
}

.about__item{
  padding-left: 35px;
  list-style: none;
}
.about__item:first-child{
  padding-left: 0px;
}


.about__hi{
  align-self: stretch;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  text-align: center;
  
}

.about__hit{
  font-family: 'Montserrat', sans-serif;
  color: #1890FF;
  text-decoration-line: none;
}


@media (max-width: 1195px) {
  .container__inner{
    margin-left:0px;
  }
  .container{
    padding: 40px 0px 40px 0px;
    }
}

@media (max-width: 448px){
  .about__item{
    padding-left: 10px;
    list-style: none;
  }
  .about__item:first-child{
    padding-left: 0px;
  }
  .about__forms{
    display: block;
    padding: 16px;
    width: 286px;
    height: 43px;
    border-radius: 5px;
  border: 1px solid #DDE0E8;
  background: #FFF;
  font-family: 'Montserrat', sans-serif;
  align-self: stretch;
  }
  .about__forms::placeholder{
  font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    align-self: stretch;
    color: #DDE0E8;
  }
  .about__forms-1{
    position: relative;
    display: block;
  padding: 16px;
    width: 286px;
   height: 44px;
    border-radius: 5px;
  border: 1px solid #DDE0E8;
  background: #FFF;
  font-family: 'Montserrat', sans-serif;
  margin-top: 16px;
  }
  .about__tit{
    font-family: 'Montserrat', sans-serif;
    align-self: stretch;
    color: #FFF;
   text-align: center;
    line-height: 24px;
    padding-bottom: 28px;
    width: 286px;
  }
  .about__button{
    display: flex;
  padding: 14px 112px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px;
  background: #1878F1;
  transition: all .3s;
  text-decoration-line: none;
  width: 286px;
  }
}