.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    position: relative;
}

.disp-flex {
    display: flex;
}
.nav {
    display: flex;
    align-items: start;
    overflow: hidden;
    max-width: 54px;
    width: 100%;
    height: 100%;
    padding: 15px 5px 20px 5px;  
    background-color: var(--main-accent-color);
    transition: .3s ease-in;
}
.nav__lists {
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.nav.active {
    max-width: 214px;
    transition: .3s ease-out;
}
.nav__list {
    max-height: 300px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav__item-container {
    position: relative;
}
.nav__item--margin:first-child {
    margin-left: 5px;
}
.nav__item--margin {
    margin-left: 10px;
}
.nav__item {
    display: flex;
    width: 100%;
    padding: 8px;
    padding: 8px 10px;
    border-radius: 0px;
    transition: .2s ease-out;
}
.nav__item.show {
    background-color: var(--secondary-btn-color);
    border-radius: 5px;
    transition: .2s ease-out;
}
.nav__item.show-default {
    background-color: var(--secondary-btn-color);
    border-radius: 5px;
    transition: .2s ease-out;
}
.nav__item.item-pos {
    position: relative;
    width: 200px;
    z-index: 2;
}
.nav__link  {
    display: flex;
    align-items: center;
}
.padding-none {
    padding: 0;
    margin-left: 6px;
}
.nav__link-text {
    overflow: hidden;
    margin-left: 20px;
    width: max-content;
    color: var(--white-link-color);
    pointer-events: none;
}
.nav__link-title {
    max-width: 140px;
    width: 100%;
    color: var(--white-link-color);
    text-align: center;
    font-family: 'Merriweather';
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}
.additional-text {
    color: var(--secondary-btn-color);
    margin-left: 20px;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    line-height: 150%; 
    transition: .2s ease-out;
}
.additional-text.active {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: max-content;
    opacity: 1;
    visibility: visible;
    transition: .2s ease-out;
}

.nav__footer {
    max-height: 160px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}
.nav__footer-item {
    display: flex;
    justify-content: start;
    width: 100%;
} 
.nav__footer-item img {
    margin-left: 10px;
} 
.nav__social-list {
    height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    gap: 15px;
    padding: 8px;
    border-radius: 5px;
    background-color: #202B40;
}
.nav__social-item {
}
.nav__social-link {
}
.nav__logout {
    display: flex;
    justify-content: center;
}
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    max-height: 52px;
    height: 100%;
    width: 100%;
    padding: 13px 24px 13px 12px;
    background-color: var(--main-accent-color);
}

.header__menu-btn {
    position: relative;
}
.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 19px;
}
.menu-btn.active .menu-btn-line::before {
    width: 25px;
    transition: .2s ease-out;
}
.menu-btn.active .menu-btn-line::after {
    width: 15px;
    transition: .2s ease-out;
}
.menu-btn-line {
    background-color: var(--menu-line-color);
    width: 30px;
    height: 3px;
    border-radius: 3px;
}
.menu-btn-line::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--menu-line-color);
    transition: .2s ease-out;
}
.menu-btn-line::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--menu-line-color);
    transition: .2s ease-out;
}

.general {
    max-width: 1100px;
    width: 100%;
}
.general__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.general__item {
    position: relative;
    display: flex;
    width: max-content;
    align-items: center;
    color: var(--white-link-color);
    cursor: pointer;
}
.general__item img{
    width: 23px;
    margin-right: 10px;
}
.account-block {
    position: absolute;
    visibility: hidden;
    max-width: 230px;
    width: 100%;
    height: 0;
    right: 0;
    background-color: var(--secondary-btn-color);
    border-radius: 5px;
    transition: .2s ease-out;
}
.account-block.active {
    height: 135px;
    visibility: visible;
    transition: .2s ease-out;
}
.account-block .account-block__link{
    visibility: hidden;
    opacity: 0;  
    transition: .2s ease-out;
}
.account-block.active .account-block__link{
    visibility: visible;
    opacity: 1;  
    transition: .2s ease-out;
}
.account-block--pos {
    top: 60px;
    right: 30px;
}
.account-block__link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    color: var(--white-link-color);
}
.main {
    width: 100%;
    height: 100%;
}
.tariff {
    width: 100%;
    padding: 10px 15px;
}
.tariff__title {
    text-transform: uppercase;
    color: var(--main-font-color);
    line-height: 150%;
}
.tariff__title--margin {
    margin-bottom: 10px;
}
.email-confirm {
    max-width: 400px;
    width: 100%;
    height: max-content;
    padding: 15px 12px;
    border-radius: 4px;
    background-color: var(--main-accent-color);
}
.email-confirm__title {
    display: flex;
    gap: 10px;
}
.email-confirm__title-text {
    max-width: 120px;
    width: 100%;
    text-align: center;
    color: var(--white-link-color);
    font-family: Merriweather;
    font-weight: 700;
    line-height: 150%; 
}
.line {
    width: 100%;
    height: 1.5px;
    background-color: var(--secondary-btn-color);
}
.line--margin {
    margin: 10px 0;
}
.line-white {
    background-color: var(--white-link-color);
}
.email-confirm__subtitle {
    display: flex;
    gap: 42px;
}
.email-confirm__subtitle-text {
    max-width: 154px;
    width: 100%;
    color: var(--white-link-color);
    font-weight: 500;
}
.email-confirm__subtitle-text--margin {
    margin-bottom: 13px;
}
.select-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
.select-panel__button {
    color: var(--main-font-color);
}

.channels {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.channels--margin {
    margin-top: 10px;
}
.channels__change {
    max-width: 370px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.channels__change-title {
    color: var(--channels-color-title);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 500;
    line-height: 70%;
}
.channels__button {
    border-radius: 35px;
}
.channels__button--padding {
    padding: 10px 20px;
    font-size: 16px;
}
.channels__button-color {
    color: var(--main-font-color);
    border: 1px solid var(--secondary-btn-color);
}

.tariff__card {
}
.tariff__card--margin {
    margin-top: 20px;
}
.card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card__item {
    max-width: 330px;
    width: 100%;
    height: 300px;
    padding: 15px 26px;
    border-radius: 16px;
    background-color: var(--main-accent-color);
    text-align: center;
}
.card__btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.checkbox-toggler {
    right: 433px;
	width: 30px;
	height: 30px;
	top: 110px;
	z-index: 100;
	opacity: 0;
}
.checkbox{
    display: flex;
    align-items: center;
	background: var(--secondary-btn-color);
    border-radius: 20px;
    width: 40px;
    height: 20px;
    position: relative;
    transition: .2s ease-out;
} 
.checkbox.active{
    background-color: var(--green-btn-color);
    transition: .2s ease-out;
} 
.checkbox__circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: 21px;
    top: 2px;
    position: absolute;
    background-color: var(--white-link-color);
    transition: .2s ease-out;
}
.checkbox-input {
    width: 40px;
    height: 20px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
.checkbox-input:checked ~ .checkbox__circle {
    right: 3px;
    background-color: var(--checkbox-black-color);
    transition: .2s ease-out;
}
.card__data {
    display: flex;
    justify-content: space-between;
    color: var(--white-link-color);
    width: 100%;
}
.card__title:first-child {
    font-weight: 600;
}
.card__data--margin {
    margin-top: 10px;
}
.card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    width: 100%;
    color: var(--white-link-color);
    text-align: start;
}
.card__info--margin {
    margin-top: 10px;
}
.card__info-text{
    font-size: 14px;
    font-weight: 600;
}
.card__info-text img{
    margin-right: 10px;
}
.card__tariff-btn {
    background-color: var(--white-link-color);
    color: var(--main-font-color);
    border-radius: 5px;
}
.card__tariff-btn--margin {
    margin-top: 30px;
}